# Plotly Charts

In [6]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

## Scatter Plot (Using plotly.graph_object)

### Plot 1

In [260]:
age = np.random.randint(25,55,60)
income = np.random.randint(300000,700000,3000000)

fig=go.Figure()
fig.add_trace(go.Scatter(x=age, y=income, mode='markers', marker=dict(color='blue')))
fig.update_layout(title='Economic Survey', xaxis_title='Age', yaxis_title='Income')

## Line Plot (Using plotly.graph_object)

### Plot 2

In [262]:
No_bicycle=[50,100,40,150,160,70,60,45]
months=["Jan","Feb","Mar","April","May","June","July","August"]

fig=go.Figure()
fig.add_trace(go.Scatter(x=months, y=No_bicycle, mode='lines', marker=dict(color='green')))
fig.update_layout(title='Bicycle Sales', xaxis_title='Months', yaxis_title='Number of Bicycles Sold')

## Bar Plot (Using plotly.express)

### Plot 3

In [264]:
score_array=[80,90,56,88,95]
grade_array=['Grade 6','Grade 7','Grade 8','Grade 9','Grade 10']

px.bar( x=grade_array, y=score_array, title='Pass Percentage of Classes')

## Histogram (Using plotly.express)

### Plot 4

In [266]:
heights = np.random.normal(160, 11, 200)

px.histogram(x=heights,title="Distribution of Heights")

## Bubble Plot (Using plotly.express)

### Plot 5

In [270]:
crime = {'City' : ['Chicago', 'Chicago', 'Austin', 'Austin','Seattle','Seattle'],
                 'Numberofcrimes' : [1000, 1200, 400, 700,350,1500],
                 'Year' : ['2007', '2008', '2007', '2008','2007','2008'],}
df = pd.DataFrame(crime)
df1 = df[["Numberofcrimes", "City"]].groupby('City').sum().reset_index()

px.scatter(df1, x="City", y="Numberofcrimes", size="Numberofcrimes", hover_name="City", title='Crime Statistics', size_max=70)

## Pie Plot (Using plotly.express)

### Plot 6

In [272]:
percent= [20, 50, 10,8,12]
categories = ['Grocery', 'Rent', 'School Fees','Transport','Savings']

px.pie(values=percent, names=categories, title='Household Expenditure')

## Sunburst Charts (Using plotly.express)

### Plot 7

In [274]:
data = dict(character=["Eve", "Cain", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
            parent=["", "Eve", "Eve", "Seth", "Seth", "Eve", "Eve", "Awan", "Eve" ],
            value=[10, 14, 12, 10, 2, 6, 6, 4, 4])

px.sunburst(data, names='character', parents='parent', values='value', title="Family chart")

## Airline Dataset

In [81]:
airline_data =  pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv', 
                            encoding = "ISO-8859-1", dtype={'Div1Airport': str, 'Div1TailNum': str, 'Div2Airport': str, 'Div2TailNum': str})
airline_data.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
airline_data.shape

(27000, 110)

In [280]:
data = airline_data.sample(n=500, random_state=42)
data.shape

(500, 110)

In [222]:
data.Month

5312      3
18357     8
6428      7
15414    10
10610     2
         ..
18946     7
16291     6
21818     3
24116     4
16705     1
Name: Month, Length: 500, dtype: int64

### Plot 8

In [284]:
px.scatter(data_frame=data, title="Distance vs Departure Time", x="Distance", y="DepTime", color_discrete_sequence=["red"])

### Plot 9

In [286]:
df= data.groupby("Month")["ArrDelay"].mean().reset_index()
px.line(data_frame=df, title="Month vs Average Flight Delay Time", x="Month", y="ArrDelay", color_discrete_sequence=["green"])

### Plot 10

In [288]:
df2= data.groupby("DestState")["Flights"].sum().reset_index()
px.bar(data_frame=df2, x="DestState", y="Flights", title="Total number of flights to the destination state split by reporting air")

### Plot 11

In [290]:
data["ArrDelay"] = data["ArrDelay"].fillna(0)
px.histogram(title="Total number of flights to the destination state split by reporting air", x="ArrDelay", data_frame=data)

### Plot 12

In [292]:
df4 = data.groupby("Reporting_Airline")["Flights"].sum().reset_index()
px.scatter(x="Reporting_Airline", y="Flights", data_frame=df4, size="Flights", size_max=70, hover_name="Reporting_Airline")

### Plot 13

In [294]:
df5= data["DestCityName"].value_counts().head(10).reset_index()
px.pie(values="count", names="DestCityName", title="DestCityName proportion", data_frame=df5)

### Plot 14

In [296]:
grouped_data = data.groupby(['Month', 'DistanceGroup']).size().reset_index(name='Count')
px.sunburst(grouped_data, path=['Month', 'DistanceGroup'], values='Count', title="Distance group proportion by month")

### Plot 15

In [298]:
grouped_data1 = data.groupby(['Month', 'DestStateName'])["Flights"].sum().reset_index()
px.sunburst(grouped_data1, path=['Month', 'DestStateName'], values='Flights', title="Flight Distribution Hierarchy")